body {
    background-image: url(AmericanBridges/images/beige011.jpg);
    background-color: #f5f5dc;
    margin: 36px;
    background-attachment: fixed;
    font-family: arial, helvetica;
    font-size: 10pt;
}
p {
    margin: 0;
    margin-bottom: 10pt;
    width: 92%;
}
h2 {
    color: #000066;
    font-size: 14pt;
}
ul {
    list-style-type: square;
}
table.explore {
    width: 92%;
    background-color: #fff;
    border: none;
}
td.bord {
    border-top: solid 2pt #666;
}
th {
    width: 33%;
    margin-top: 0px;
    margin-bottom: 6px;
    text-align: left;
    font-size: 12pt;
}
td {
    vertical-align: top;
    width: 33%;
}
table.menu {
    background-color: transparent;
    width: 100%;
    margin: 66px 25px 0px 25px;
}
td.menu {
    font-weight: bold;
    width: 119px;
    text-align: center;
    vertical-align: center
