body {
   background-image:url(../images/beige011.jpg);
   background-attachment: fixed;
   background-color: #f5f5dc;
   font-family: arial, sans-serif;
   font-family: arial, helvetica;
   font-size: 10pt;
   margin:36px;
   }
 h2{ 
   color: 006;
   font-size: 14pt;
   }
p{ 
   margin-left:24px;
   margin-right:24px;
   width: 92%;
   }
ul{ 
   list-style-type:square;
   }
   
td.explore {
vertical-align: top;
width: 33%;
} 
table.explore {
width: 92%;
background-color: #fff;
border: none;
}
table.menu {
background-color: transparent;
width: 100%;
margin: 66px 25px 0px 25px;
}
td.menu {
font-weight: bold;
width: 119px;
text-align: center;
vertical-align: center;
}
td.bord { border-top: solid 2pt #666; }
a.menu {
color: #fff;
text-decoration: none;
}

div.base{  
    border: 1px solid #000;
	width: 725px;
	padding: 12px;
	background-color: #fff;
	margin:auto;
	background-image:url(../images/bridge_banner.gif);
	background-repeat: no-repeat;
	padding-left: 138px;
	padding-top: 0;
	}
div.footer {
width: 658pt;
margin: auto;
background-color: #000;
}
table.footer {
border: none;
background-color: #000000;
width: 100%;
}
td.footer {
font-weight: bold;
width: 95pt;
text-align: center;
vertical-align: center;
padding-top: 9px;
}
th {
width: 33%;
margin-top: 0px;
margin-bottom: 6px;
text-align: left;
font-size: 12pt;
}
td {
vertical-align: top;
width: 33%;
}
td.section {
color: #000066;
}
td.sectiondash2 {
padding-left: 12pt;
border-left: dashed 1pt gray;
color: #006600;
}
td.sectiondash3 {
padding-left: 12pt;
border-left: dashed 1pt gray;
color: darkgreen;
color: #663300;
}
</style>